<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/style.css" />
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/static/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/h-ui.admin/js/H-ui.admin.js"></script> 
<!--/_footer 作为公共模版分离出去-->
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<style type="text/css">
.select_style{
    border:solid 1px #ddd;
    padding: 5px 10px; 
    size: 10px;
}
</style>



<body>
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i>统计与查询<span class="c-gray en">&gt;教师统计</span>
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </nav>

    <div class="page-container">
        <div class="panel panel-default">
            <div class="panel-header">教师统计</div>
            <div class="panel-body">
                <table class="table table-border table-bg table-bordered">
                    <form action="{:url('admin/query/teacher_census')}" method="POST">
                        <select name="school" class="select_style">
                            {volist name="school" id="vo"}
                            <option value="{$vo.id}">{$vo.name}</option>
                            {/volist}
                        </select>
                        &nbsp; 
                        <input type="submit" class="btn btn-primary radius" value="提交">
                       
                    </form>
                   
                    <thead style="margin-top:20px;">
                        <tr><th width="20%">描述</th><th>数量</th></tr>
                    </thead>
                    <tbody>
                        {volist name="view" id="vo"}
                        <tr><td>{$vo.key}</td><td>{$vo.value}</td></tr>
                        {/volist}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</body>
</html>
