<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/style.css" />
    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="__PUBLIC__/static/lib/jquery/1.9.1/jquery.min.js"></script> 
    <script type="text/javascript" src="__PUBLIC__/static/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/h-ui.admin/js/H-ui.admin.js"></script> 
</head>
<body>
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i>基本业务<span class="c-gray en">&gt;</span>样表下载
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </nav>

    <div class="page-container">
        <div class="panel panel-default">
            <div class="panel-header">样表下载</div>
            <div class="panel-body">
                <div class="Huialert Huialert-info"><a href="__PUBLIC__/download/student.xls">学生样表下载</a></div>

                <div class="Huialert Huialert-danger"><a href="__PUBLIC__/download/teacher.xls">教师样表下载</a></div>
            </div>
        </div>
    </div>
</body>
</html>

