<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/style.css" />
    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="__PUBLIC__/static/lib/jquery/1.9.1/jquery.min.js"></script> 
    <script type="text/javascript" src="__PUBLIC__/static/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/h-ui.admin/js/H-ui.admin.js"></script> 
</head>
<body>
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i>系统管理<span class="c-gray en">&gt;</span>网站基本信息配置
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </nav>

    <div class="page-container">
        <div class="panel panel-default">
            <div class="panel-header">网站信息配置</div>
            <div class="panel-body">
                <form action="{:url("admin/sysmg/web_setting")}" method="POST">
                    <span>网站名称</span>  
                    <input type="text" class = '.col-sm-6 input-text radius size-M' name="name" value="{$view.name}">
                    <span>网站标题</span>  
                    <input type="text" class = '.col-sm-6 input-text radius size-M' name="title" value="{$view.title}">   
                    <span>网站描述</span>  
                    <input type="text" class = '.col-sm-6 input-text radius size-M' name="describe" value="{$view.describe}">  
                    <span>网站备案号</span>  
                    <input type="text" class = '.col-sm-6 input-text radius size-M' name="webnum" value="{$view.webnum}"> 


                    <input class = "btn btn-primary radius" type="submit" value="提交">
                </form>


            </div>
        </div>
    </div>
</body>
</html>

